@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html { 
    scroll-behavior: smooth; 
}

:root{
    --lime: #00CC74;
    --skyblue: #1DBCFB;
    --yellow: #FBD517;
    --yellowText: #FADF3B;
    --cream: #EFDFD5;
    --pink: #D671BF;
    --granate: #FF6161;
    --green: #2E8734;
}

body {
    font-family: 'Lora', sans-serif;
    background-color: var(--cream);
}

img, svg {
    width: 100%;
}

.text-center {
    text-align: center;
}

.darker-img {
    filter: brightness(50%);
}

.contenedor{
    max-width: 140rem;
    margin: 0 auto;
}

.card{
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 1.5rem;
    transition: all 0.25s;
}

.card img{
    height: 220px;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(102,102,102,0.5);
    -moz-box-shadow: 0px 5px 15px 0px rgba(102,102,102,0.5);
    box-shadow: 0px 5px 15px 0px rgba(102,102,102,0.5);
    padding: 1.8rem;
    background-color: var(--cream);
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

@media (min-width: 480px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 720px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.patrimonio {
    background-color: var(--granate);
    padding: 1rem;
}

.nombre-patrimonio {
    font-size: 20px;
    color: var(--yellowText);
    font-weight: bold;
}

.info-patrimonio {
    font-size: 15px;
    color: black;
}

.nombre-patrimonio,
.info-patrimonio {
    font-family: 'Lora', sans-serif;
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

.papantla {
    font-size: 18px;
}

.paral-servicios {
    height: 10rem;
}

.color-gradient {
    background: rgb(29,188,251);
    background: linear-gradient(90deg, rgba(29,188,251,1) 0%, rgba(251,213,23,1) 50%, rgba(214,113,191,1) 100%);
}

.link_web {
    color: black;
    text-decoration: underline;
}

.btn-color {
    background: var(--green);
}

.btn-color-2 {
    background: var(--lime);
}